.btn {
  background-color: inherit;
  border: none;
  color: #212529;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: #f8d000;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: #e4bf00;
    cursor: pointer;
  }
}
