.container {
  a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    color: #212529;
    line-height: 1.28;
  }
  a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: #f8d000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  body {
    font-family: "Nunito", "Quicksand", "Roboto", -apple-system, system,
      system-ui, sans-serif;
    background: #eee;
    font-size: 3em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
